node_modules/
dist/
android/app/build/
android/.gradle/
android/local.properties
.DS_Store
.env
jdk17/
android/gradlew
android/gradlew.bat
android/gradle/wrapper/gradle-wrapper.jar
android/gradle/wrapper/gradle-wrapper.properties
